.hero {
  background-image: url("../../public/images/Facebookcover.jpg");
  background-size: cover;
  background-position: 39%;
  /* Otros estilos de la sección hero */
  height: 80vh;

  margin: 0 auto;
}

.hero__content {
  /* Estilos del contenido del Hero */

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  gap: 2rem;

  width: 90%;
}

.hero__description {
  max-width: 70vw;

  background-color: #fafafaba;

  padding: 2rem;

  color: black;
  border-radius: 0.5rem;

  position: absolute;
  bottom: 12%;
}

.hero__title {
  /* Estilos del título */
}

.hero__description {
  /* Estilos de la descripción */
}

.hero__button {
  /* Estilos del botón de acción */
}

@media only screen and (min-width: 768px) {
  /*Small smartphones [325px -> 425px]*/

  .hero {
    background-position: center;
  }
  .hero__content {
    flex-direction: row;
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
    height: 100%;
    gap: 2rem;
  }

  .hero__description {
    text-align: left;
    background-color: #fafafa;
    max-width: 50vw;

    position: relative;
    top: 0%;
  }
}
