.testimonial {
  background-color: #fafafa;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;

  border-radius: .5rem;

  height: 420px;
  /* max-height: 300px; */
}

.darkBg {
  background: #333;
  color: #fafafa;
  font-family: 'Times New Roman', Times, serif;
  text-align: center;
}